@model OnlineTestManagement.Entities.ViewModels.CandidateDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<link href="~/css/site.css" rel="stylesheet" />

<h2 style="color:red;">Details</h2>

<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Test Name</label>
    <p class=""> @(Model.Name)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">EmailId</label>
    <p class=""> @(Model.EmailId)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Mobile Number</label>
    <p class=""> @(Model.MobileNumber)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Applied For</label>
    <p class=""> @(Model.AppliedFor)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Test</label>
    <p class=""> @(Model.Test)</p>
</div>

<button type="button" class="col-md-2" onclick="location.href='@Url.Action("Index","Candidate")'" style="color:white; background-color:grey;">Back To Index Page</button>
