@model OnlineTestManagement.Entities.ViewModels.TestDetailsViewModel
@{
    ViewData["Title"] = "StartTest";
}

<h1>Test</h1>

<input type="text" id="CandidateExamId" value="@Model.CandidateExamId" hidden="hidden" />
<div class="accordion" id="accordionExample">
    @{
        int i = 0;
    }
    @foreach (var obj in Model.QuestionList)
    {
        i++;
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@("collapse" + i)" aria-expanded="true" aria-controls="collapseOne">
                        @obj.Question
                    </button>
                </h2>
            </div>
            <div id="@("collapse" + i)" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="text" id="@("QuestionId" + i)" data-questionid="" value="@obj.Id" hidden="hidden" />
                    <fieldset id="@("group" + i)">
                        <input type="radio" name="@("question" + i)" onclick="SubmitAnswer('a', '@obj.Id')" value=@obj.Option1 />@obj.Option1<br />
                        <input type="radio" name="@("question" + i)" onclick="SubmitAnswer('b', '@obj.Id')" value=@obj.Option2 />@obj.Option2<br />
                        <input type="radio" name="@("question" + i)" onclick="SubmitAnswer('c', '@obj.Id')" value=@obj.Option3 />@obj.Option3<br />
                        <input type="radio" name="@("question" + i)" onclick="SubmitAnswer('d', '@obj.Id')" value=@obj.Option4 />@obj.Option4<br />
                    </fieldset>
                </div>
            </div>
        </div>
    }
</div>

<td><button type="button" class="btn btn-info" onclick='window.location.href = "@Url.Action("SubmitTest", "Candidate", new { CandidateExamId = Model.CandidateExamId})"'>Submit Test</button></td>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        $(document).ready(function () {

            console.log($("#CandidateExamId").val());
        });

        function SubmitAnswer(selectedOption, questionId) {
            var url = "/Candidate/SubmitAnswer?QuestionId=" + questionId + "&SelectedAnswer=" + selectedOption + "&CandidateExamId=" + $("#CandidateExamId").val();
            ajaxCall(url)
            console.log(questionId);
        }

        function ajaxCall(url) {
            $(".loader-wrapper").show();
            $.get(url, function (data) {
                $(".loader-wrapper").hide();
                ShowSlackbarSucessMessage("Answer Saved");
            });
        }


    </script>
}

