@model OnlineTestManagement.Entities.ViewModels.QuestionViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Question</label>
    <p class=""> @(Model.Question)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Option1</label>
    <p class=""> @(Model.Option1)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Option2</label>
    <p class=""> @(Model.Option2)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Option3</label>
    <p class=""> @(Model.Option3)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="float-label mt-2">Option4</label>
    <p class=""> @(Model.Option4)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="float-label mt-2">Correct Answer</label>
    <p class=""> @(Model.CorrectAnswer)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="float-label mt-2">Created By</label>
    <p class=""> @(Model.CreatedBy)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="float-label mt-2">Level</label>
    <p class=""> @(Model.LevelId)</p>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="float-label mt-2">Subject</label>
    <p class=""> @(Model.SubjectId)</p>
</div>

<button type="button" class="col-md-4" onclick="location.href='@Url.Action("Index","Question")'">Back To Index Page</button>

