@model OnlineTestManagement.Entities.ViewModels.QuestionWrapperViewModel
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<div class="row">
    <h2 class="col-md-6" style="color:red;">Question</h2>
    <i title="Add New Question" class="fa fa-plus-circle col-md-6" onclick="location.href='@Url.Action("Add","Question")'" aria-hidden="true" style="font-size:40px; color:red; text-align:right; cursor:pointer;"></i>
</div>

<div id="indexPartialContent">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:80%;">Question</th>
                @*<th style="width:20%;">Created By</th>*@
                <th style="width:20%;" class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.QuestionList)
            {
                <tr style="background : #ececec; cursor:pointer;" onclick='window.location.href = "@Url.Action("Details", "Question", new { id = question.Id})"'>
                    <td>@question.Question</td>
                    @*<td>@question.CreatedBy</td>*@
                    @*<td class="text-center"><span title="Edit" onclick='window.location.href = "@Url.Action("Edit", "Question", new { id = question.Id})"'><i class="fa fa-pencil f-16" aria-hidden="true"></i></span>
                        <span title="Remove" onclick='window.location.href = "@Url.Action("Delete", "Question", new { id = question.Id})"'><i class="fa fa-trash ml-3 f-16" aria-hidden="true"></i></span></td>*@


                    <td class="text-center">
                        <span title="Edit" onclick="redirectToEdit('/Question/edit/@question.Id')"><i class="fa fa-pencil f-16" aria-hidden="true"></i></span>
                        <span title="Remove" onclick="redirectToEdit('/Question/delete/@question.Id')"><i class="fa fa-trash ml-3 f-16" aria-hidden="true"></i></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button type="button" class="col-md-2" style="color:white; background-color:gray;" onclick="location.href='@Url.Action("Index","Home")'">Go To HomePage</button>


<script src="~/js/site.js"></script>



<partial name="_deletePopup" />

