@model OnlineTestManagement.Entities.ViewModels.CandidateExamModel
@{
    ViewData["Title"] = "Details";
}
<link href="~/css/site.css" rel="stylesheet" />

<h2 style="color:red; margin-bottom:30px;">Details</h2>
<div class="row">
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Candidate Name</label>
        <p class=""> @(Model.CandidateName)</p>
    </div>
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Test Name</label>
        <p class=""> @(Model.TestName)</p>
    </div>
</div>
<div class="row">
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Started Time</label>
        <p class=""> @(Model.StartedTime)</p>
    </div>
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Submitted Time</label>
        <p class=""> @(Model.SubmittedTime)</p>
    </div>
</div>
<div class="row">
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Total Number Of Questions</label>
        <p class=""> @(Model.TotalNumberOfQuestions)</p>
    </div>
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Attempted Questions</label>
        <p class=""> @(Model.AttemptedQuestions)</p>
    </div>
</div>
<div class="row">
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Correct Answers</label>
        <p class=""> @(Model.CorrectAnswers)</p>
    </div>
    <div class="form-group mt-2 float-container position-relative col-md-6">
        <label class="control-label float-label">Wrong Answers</label>
        <p class=""> @(Model.WrongAnswers)</p>
    </div>
</div>
<div class="form-group mt-2 float-container position-relative">
    <label class="control-label float-label">Score</label>
    <p class=""> @(Model.Score)</p>
</div>


<div id="indexPartialContent">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Question</th>
                <th>Selected Answer</th>
                <th>Is Answer Correct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.list)
            {
                <tr>
                    <td>@obj.Question</td>
                    <td>@obj.SelectedAnswer</td>
                    <td>@obj.IsAnswerCorrect</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button type="button" class="col-md-2" onclick="location.href='@Url.Action("Index","Result")'" style="color:white; background-color:grey;">Back To Index Page</button>

