@model OnlineTestManagement.Entities.ViewModels.CandidateExamWrapperModel
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<h2 style="color:red;">Result</h2>

<div id="indexPartialContent">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="20%">Candidate Name</th>
                <th width="20%">Test Name</th>
                <th width="20%">Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CandidateExamList)
            {
                <tr style="background : #ececec; cursor:pointer;" onclick='window.location.href = "@Url.Action("Details", "Result", new { id = obj.Id})"'>
                    <td>@obj.CandidateName</td>
                    <td>@obj.TestName</td>
                    <td>@obj.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button type="button" class="col-md-2" style="color:white; background-color:gray;" onclick="location.href='@Url.Action("Index","Home")'">Go To HomePage</button>
<script src="~/js/site.js"></script>

